header{
    width: 100%;
    height: auto;
    background-color: #EEF5DB;
}

h1{
    font-family: Rubik;
    text-align: center;
}

p{
    font-family: LeagueSpartan;
}

nav{
    width: 90%;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li{
    margin-right: 20px;
    padding: 20px;
}

nav a{
    text-decoration: none;
    color: #346653; 
    font-size: 13pt;
    font-weight: bold;
    transition: 0.5s;
}

nav a:hover{
    font-size: 14pt;
    transition: 0.5s;
}

#btnCadastro{
    width: 100px;
    height: 40px;
    border: 2px solid #346653;
    border-radius: 5px;
    color: #346653;
    background-color: #EEF5DB;
    text-align: center;
}

#btnCadastro:hover{
    background-color: #346653;
    color: #EEF5DB;
}

#btnLogin{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #7CB26A;
    color: white;

}

#btnLogin:hover{
    background-color: #EEF5DB;
    color: #7CB26A;
    border: #7CB26A 2px solid;
}

#banner{
    width: 70%;
    height: 400px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    background-color: #dbdfac;
    border-radius: 10px;
}

#banner img{
    border-radius: 10px;
    width: 90%;
    height: 90%;
}

#banner picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}


#txtbanner{
    width: 50%;
    height: 100%;
    margin: 30px auto;
}

#txtbanner p{
    margin: 20px 20px;
    text-align: center;
    font-size: 14pt;
}


