@font-face {
    font-family: LeagueSpartan;
    src: url("../fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf");
    font-weight: normal;
}
@font-face {
    font-family: LeagueSpartan;
    src: url("../fonts/League_Spartan/static/LeagueSpartan-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Rubik;
    src: url("../fonts/Rubik/static/Rubik-Regular.ttf");
    font-weight: normal;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: LeagueSpartan;
}

header{
    width: 100%;
    height: auto;
    background-color: #EEF5DB;
}

